.App {
  text-align: center;
}

.app-header {
  background-color: #8B0000;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 300px;
}

.app-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.load-more-button {
  background-color: #8B0000;
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }

  p {
    font-size: 8px;
  }

  h3 {
    font-size: 8px;
  }
}

footer {
  background-color: #8B0000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 20px;
}
