.movie-card {
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
    width: calc(100% / 8);
    border-radius: 10px;
}

.movie-card-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.favorite-image {
    width: 6%;
    height: 3%;
    padding-top: 2px;
}

.watched-image {
    width: 8%;
    height: 4%;
    margin-left: 15px;
}

.movie-card-buttons {
    display: flex;
    justify-content: center;
}

.movie-card:hover {
    transform: scale(1.03) translateY(-2px);
}

@media (max-width: 700px) {
    .movie-card {
        flex: 1 1 200px;
    }

    .watched-image .favorite-image{
        width: 6%;
        height: 3%;
    }

    p {
        font-size: 14px;
    }

    h3 {
        font-size: 14px;
    }
}

@media (max-width: 1300px) {
    .movie-card {
        flex: 1 1 200px;
    }

    .watched-image .favorite-image{
        width: 10%;
        height: 5%;
    }

    p {
        font-size: 14px;
    }

    h3 {
        font-size: 14px;
    }
}