.movie-card {
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
    width: calc(100% / 8);
    border-radius: 10px;
}

.movie-card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.movie-card:hover {
    transform: scale(1.03) translateY(-2px);
}