.movie-card {
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
}

.movie-card:hover {
    transform: scale(1.04) translateY(-4px);
}