.movie-list-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 11px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}